
%h2= @day.date

- @day.tasks.each do |task|
  %b= task.hour.to_s + ":00"
  = link_to task.name, task
  %p{ :style => "margin: 0 0 0 20px;"}= task.description

%p
%p= link_to "Dodaj zadanie", new_day_task_path(@day)
%p
%p= link_to "<< Wstecz", days_path()
